@page
@model APUSH_Site.Pages.ContextModel

@{
    ViewData["Title"] = "Context";
}

<p style="text-align:center;width:80%"> In the course of the last four months it has been made probable - through the work of Joliot in FRance as well as Fermi and Szilard in America - that it may become possible to set up a nuclear chain reaction in a large mass of uranium [sic], by which vast amounts of power and large quantities of new radium-like elements would be generated. How it appears almost certain that this could be achieved in the immediate future </p>
<p style="text-align:center;width:75%"> - Albert Einstein, August 2nd, 1939 </p>

Einstein then wnet on to discuss the potentials of this new idea - a nuclear bomb capable of "destroy the whole port together with some of the surrounding territory" assuming it was carried by boat. <i>But how did we get here?</i>
