@page
@model APUSH_Site.Pages.ContextModel

@{
    ViewData["Title"] = "Context";
}

<p class="quote"> In the course of the last four months it has been made probable - through the work of Joliot in France as well as Fermi and Szilard in America - that it may become possible to set up a nuclear chain reaction in a large mass of uranium [sic], by which vast amounts of power and large quantities of new radium-like elements would be generated. How it appears almost certain that this could be achieved in the immediate future </p>
<p class="quote"> - Albert Einstein, August 2nd, 1939 </p>

<img src="~/img/einstein-szilard.jpg" alt="Letter from Einstein to FDR" class="image" style="width:25%;">

<p>Einstein then went on to discuss the potentials of this new idea - a nuclear bomb capable of "destroy the whole port together with some of the surrounding territory" assuming it was carried by boat. <i>But how did we get here?</i> What led from the discovery of radiation up to the letter requesting authorization for a nuclear bomb?</p>

<p>It all starts in Europe of all places. A scientist named Becquerel had developed plates that absorbed what we now know as radioactive energy. Becquerel, thinking that these plates changed due to the sun, was rather upset when it was cloudy and he thought the experiment wouldn't work. But, for some reason, he developed the plates anyways. They looked as if they had been exposed to the sunlight. EUREKA! Then came Marie Curie, who saw this discovery and penned a name for it: radioactivity.</p>

<p> Marie and her husban Pierre discovered multiple radioactive elements. Rutherford characterized the byproducts of the radiation into different particles: alpha, beta, and gamma. Gamma is the one that kills people, Beta is the one that isn't too terribly great but better than Gamma. And Alpha radiation is harmless.<sup>[<a href="Sources#source-2">1</a>]</p>
<p> The rest of the story is pretty simple: Atoms split, discovered by none other than Hahn and Strassmann. Once results were confirmed, this went "viral". American scientists then tried to push that work even further. Once working with Uranium until 1940, the question they <i>had</i> to tackle was a chain reaction. The problem was collecting enough of the right amount of Uranium was incredibly difficult because they had no clue what they were doing. This was uncharted and unknown territory, widely feared to many.</p>
