@page
@model APUSH_Site.Pages.EndOfWarModel
@{
}

<img src="~/img/nagasaki-after-bombing.jpg" alt="Pre- and Post-bombing of Nagasaki">
<p class="quote"> </p>
<p> I'd like to note that all documents used on this page have been declassified. Despite being a techie, I do NOT have the capabilities to hack into the government. </p>

<p> Communications between 

<p> After the bombings, there was a sense of tension in the US as we waited for the results of the war. Now, while waiting the United States began to hear of the horrors of the nuclear bombings. And proudly denied it. In a phone call between Lieutenant Rea and General Groves, they essentially claimed that the bombings caused only "good thermal burns." The idea that the radiation had harmed them as an instantaneous death was nowhere near their minds. Cool side note - they forshadow the usage of radiation in Leukemia treatment because they discuss the white blood cell counts being lower than it was before. This is of coure the method of excising Leukemia, killing the bone marrow to help other tissue recover. The key here: cruelty and a lack of knowledge. The idea that burning a Japanese man, woman, or child was so revered that we discounted the idea that it <i>may</i> have caused adverse effects.</p>
