@page
@model APUSH_Site.Pages.EndOfWarModel
@{
}

<p> I'd like to note that all documents used on this page have been declassified. Despite being a techie, I do NOT have the capabilities to hack into the government. </p>

<p> Communications between 
