@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-5">The Atomic Bomb: From Conception to Deception to Interception</h1>
    <img src='img/bombing_of_japan.jpg' alt=Bombing of Japan>
    <p><small>Sourced from Wikimedia Commons<sup>[<a href=Sources#source-1>1</a>]</small></p>
</div>


<p> Please navigate through the website either through the topbar or through the links below! </p
<ul>
    <li><a href=Context>Context!</a> - All relevant information related to the atomic bomb, scientific or political</li>
    <li><a href=EndOfWar>An End to the War</a> - The development of the atomic bomb up to the explosion over Hiroshima</li>
    <li><a href=Outcomes>Outcomes</a> - The outcomes of the dropping of the bombs over Hiroshima and Nagasaki</li>
    <li><a href=Sources>Sources</a> - Any and all sources used for this website will be listed here, and linked to when appropriate using <sup>superscripts</sup></li>
</ul>
