@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Attention! This page will <i>not</i> collect any of your data. We do not use caches, advertisements, etc.</p>
<p>If you notice any issues, contact the web developer at <a href=mailto:nicholskids.jonah@gmail.com>this email address</a>
