@page
@model APUSH_Site.Pages.SourcesModel
@{
}

<ol>
    <li>Image of Atomic Bombings obtained from <a href='https://commons.wikimedia.org/wiki/File:Atomic_bombing_of_Japan.jpg'>Wikimedia Commons</a></li>
</ol>
